.container-login {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

/* Champs d'entrée */
.input-field {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #b0b0bb;
    outline: none;
}

/* Message d'erreur */
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn:hover {
    background: #b0b0bb;
}